.body{
    margin:auto;
    width: 950px;

}
table,td,th{
    padding: 0px;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
}
table{
    width: 400px;
}
tr:nth-child(even) {background-color: #d8e4ee;}