.body{
    width: 950px;
    margin: auto;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 700px;
}

th{
    height: 20px;    
    border-left: 1px solid black;
    text-align: left;
}
td{
    height: 47px;
    border-left: 1px solid black;
    text-align: left;
}
.center{
    text-align: center;
}
tr:nth-child(even) {background-color: #f2f2f2;}