<html>
        <head>
          <title>Basic Validation Example</title>
        </head>
        <body>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  <ul class=flashes>
                  {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
          <h1>Enter a Valid(Any) email!</h1>
          <form action='/process' method='POST'>
            Email:<input type="text" name="email"><br>
            First Name:<input type = 'text' name = 'first_name'><br>
            Last Name: <input type = 'text' name = 'last_name'><br>
            Password:<input type = 'password' name = 'password'><br>
            Confirm Password:<input type = 'password' name = 'confirm_password'>
            <input type="submit" value="Submit">
          </form>
        </body>
        </html>