<!DOCTYPE html>

<html>
    <head>
        <title>Create New User</title>
        <meta charset="UTF-8">
    </head>
    <body> 
        <h1> User {{userid}}</h1>
        <table>      
                <tr><td>Full name: {{id.first_name}} {{id.last_name}}</td></tr>
                <tr><td>Email: {{id.email_address}}</td></tr>
                <tr><td>Created At: {{id.created_at|date:"M d,Y"}}</td></tr>
        </table> 
        <br>
        <a href = '{% url "edit" userid %}'>Edit</a> | <a href = '{% url "destroy" userid %}'>delete</a>
    </body>
</html>