<!DOCTYPE html>
<html>
    <head>
        <title>Create New User</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Add A New User</h1>
        <form action = '{% url "create" %}' method = 'POST'>
            {% csrf_token %}
            <label>First Name</label><input type = 'text' name = 'first_name'>
            <label>Last name</label><input type = 'text' name = 'last_name'>
            <label>Email Address</label><input type = 'text' name = 'email_address'>
            <input type = 'submit' value = 'create'>
            <a href = '{% url "index"%}'>Go Back</a>
        </form>
    </body>
</html>