<!doctype = html>
<html>
    <head>
        <title>User</title>
    </head>
    <body>
        <h3>Hello</h3>
        <table>
            <tr>
                <td>Your Name Is:</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>Your Location Is:</td>
                <td>{{loc}}</td>
            </tr>
            <tr>
                <td>Your Favorite Language Is:</td>
                <td>{{lang}}</td>
            </tr>
            <tr>
                <td>Additional Comments:</td>
                <td>{{comm}}</td>
            </tr>
        </table>
    </body>
</html>