<html>
    <head>
        <title>Index</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'Amadon/style.css' %}">
    </head>
    <body>
        <div class = 'body'>
            <h1>Amadon Store!</h1>
            <div id = 'table'>
                <table>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                        {% for item in request.session.item_list %}
                        <tr>
                            <form action = '/process/' method = 'POST'>
                            {% csrf_token %}
                            <td>{{item.1}}</td>
                            <td>{{item.2}}
                                <input type = 'hidden' name = 'product_id' value = '{{item.0}}'}}>
                            </td>
                            <td><select name = 'actions'>
                                <option value = '1'>1</option>
                                <option value = '2'>2</option>
                                <option value = '3'>3</option>
                                </select>
                                <input type = 'submit' value = 'buy'>
                            </td>
                            </form>
                        </tr>
                        {% endfor %}
                </table>
                </div>
            </div>
    </body>
</html>