<!DOCTYPE html>
<html>
    <head>
        <title>Success</title>
        <meta charset="UTF-8">
    </head>
    <body>
            <h1>Success</h1>
            {% if session['login_success'] == True %}
                <p>Welcome {{ session['username'] }}!</p>
                <p>You have successfully logged in</p>
            {% endif %}
            {% if session['register_success'] == True %}
                <p>Welcome {{ session['username']}}!</p>
                <p>You have successfully registered</p>
            {% endif %}
            <form action='/home', method='get'>
                <type='submit' value='Home' class="button">
            </form>
        </div>
    </body>
</html>